$h1-api-size: $font-size-base * 2.25 !default;
$h2-api-size: $font-size-base * 2 !default;
$h3-api-size: $font-size-base * 1.5 !default;
$h4-api-size: $font-size-base * 1.35 !default;
$h5-api-size: $font-size-base * 1.15 !default;
$h6-api-size: $font-size-base !default;

#InlineTOC {

  padding-left: 6px;

  nav#TableOfContents {
    .param-list {
      display: none;
    }

    a {
      white-space: nowrap;
    }

    ul {
      padding-left: 12px;
    }
  }
}

.api-docs {

  .param-paren {
    color: $gray-900;
  }

  .param-desc-divider {
    margin-left: 5px;
    margin-right: 5px;
  }

  h4, .h4 {
    font-size: $h4-api-size;
  }

  h5, .h5 {
    font-size: $h5-api-size;
  }

  .h2, .h3, h2, h3, .signature {
    margin-top: 1rem !important;
  }

  .type {
    .signature {
      font-size: $h5-api-size;

      .name {
        margin-left: 0.5em;
      }
    }
  }

  .enum {
    .body {
      margin-left: 1em;

      .enum-value {

        display: list-item;
        margin-left: 2em;

        .enum-signature {
          font-family: $font-family-monospace;

          .annotation {
            font-weight: 700;
          }
        }
      }
    }
  }
}

.context > .method {
  h3, .h3 {
    font-size: $h3-api-size;
  }

  h4, .h4 {
    font-size: $h4-api-size;
  }

  h5, .h5 {
    font-size: $h5-api-size;
  }
}

div.method {

  .returns {
    .return_type {
        font-family: $font-family-monospace;
        font-weight: 700;
        font-size: 0.9em;
        background-color: $gray-100;

        &:after {
          background-color: $body-bg;
          font-weight: 400;
          content: " — ";
        }
    }
  }

  .signature {
    font-family: $font-family-monospace;
    font-size: $h5-api-size;
    margin-bottom: 1.5rem !important;
    font-weight: 600;

    & > .returns {
      font-weight: 800;
    }

    & > .name {
      font-weight: 600;
      font-family: $font-family-monospace;
    }

    & > .name:first-child {
      font-weight: 600;
    }

    span.param-list {
      font-family: $font-family-monospace;

      span.param {
        white-space: nowrap;

        & > .annotation {
          font-style: italic;
          color: $gray-500;
        }

        & > .type {
          // color: $gray-500;
          font-weight: 800;
        }

        & > .name {
          font-style: italic;
          font-weight: 600;
        }

        & > .name:first-child {
          font-weight: 700;
        }

        span:last-child {
          margin-right: 3px;
        }

        span.default-val {
          font-family: $font-family-monospace;
          font-size: 0.9em;
        }
      }
    }
  }

  .body {
    margin-bottom: 4em;

    & > .returns {
      margin-left: 2.25em;

      h4, h5 {
        margin-left: -2.25em;
      }
    }

    & > .returns, .parameters, .exceptions {

      margin-top: 2em;

      h4, h5, h6, .h4, .h5, .h6 {
        font-weight: 600;
        color: $blue;
      }

      .param-item, .exc-item {
        margin-bottom: 0.5em;
        .name {
          font-family: $font-family-monospace;
          font-weight: 600;
          font-size: 0.9em;
          background-color: $gray-100;
          padding: 3px;
          line-height: 3;
        }

        .type {
          font-family: $font-family-monospace;
          font-size: 0.9em;
        }
      }
    }
  }
}

.wrapped-method-signature {
  .param-list {
    // display: table;

    .param {
      display: block;
      margin-left: 4ex;
      margin-top: 10px;
      margin-bottom: 10px;

      .annotation {
        display: inline-block;
        min-width: 6ex;
      }
    }
  }
}
