$h1-api-size: $font-size-base * 2.25 !default;
$h2-api-size: $font-size-base * 2 !default;
$h3-api-size: $font-size-base * 1.5 !default;
$h4-api-size: $font-size-base * 1.35 !default;
$h5-api-size: $font-size-base * 1.15 !default;
$h6-api-size: $font-size-base !default;

#TableOfContents {
  .param-list {
    display: none;
  }
}

.api-docs {

  h4, .h4 {
    font-size: $h4-api-size;
  }

  h5, .h5 {
    font-size: $h5-api-size;
  }

  .h2, .h3, h2, h3, .signature {
    margin-top: 1rem !important;
  }

  .type {
    .signature {
      font-size: $h5-api-size;

      .name {
        margin-left: 0.5em;
      }
    }
  }

  .enum {
    .body {
      margin-left: 1em;

      .enum-value {

        display: list-item;
        margin-left: 2em;

        .enum-signature {
          font-family: $font-family-monospace;

          .annotation {
            font-weight: 700;
          }
        }
      }
    }
  }
}

.context > .method {
  h3, .h3 {
    font-size: $h3-api-size;
  }

  h4, .h4 {
    font-size: $h4-api-size;
  }

  h5, .h5 {
    font-size: $h5-api-size;
  }
}

div.method {

  .returns {
    .return_type {
        font-family: $font-family-monospace;
        font-weight: 700;
        font-size: 0.9em;
        background-color: $gray-100;

        &:after {
          background-color: $body-bg;
          font-weight: 400;
          content: " — ";
        }
    }
  }

  .signature {
    // font-weight: 400;
    font-family: $font-family-monospace;
    font-size: $h5-api-size;
    margin-bottom: 1.5rem !important;
    font-weight: 600;

    // * {
    //   font-size: $header-size-h5;
    // }

    & > .returns {
      font-weight: 800;
    }

    & > .name {
      font-weight: 600;
      font-family: $font-family-monospace;

      // &:after {
      //   content: "(";
      // }
    }

    & > .name:first-child {
      font-weight: 600;
    }

    span.param-list {
      font-family: $font-family-monospace;
      // white-space: nowrap;

      span.param {
        // font-family: $font-family-sans-serif;
        white-space: nowrap;
        // margin: 0;
        // padding: 0;

        // &:not(:last-of-type) {
        //   padding-right: 0.2ex;
        // }

        & > .annotation {
          font-style: italic;
          color: $gray-500;
        }

        & > .type {
          // color: $gray-500;
          font-weight: 800;
        }

        & > .name {
          font-style: italic;
          font-weight: 600;
        }

        & > .name:first-child {
          font-weight: 700;
        }

        .name:not(:last-child):after {
          // content: " =";
          font-weight: 600;
        }

        &:not(:last-of-type) > *:last-child:after {
          font-family: $font-family-sans-serif;
          font-style: normal;
          // content: ",";
        }

        span:last-child {
          margin-right: 3px;
        }

        span.default-val {
          font-family: $font-family-monospace;
          font-size: 0.9em;

          // &:before {
          //   // font-size: 0.5em;
          //   font-family: $font-family-sans-serif;
          //   content: " = ";

          //   // margin: auto 1ex auto 0.25ex;
          // }
        }
      }

      &:after {
        // content: ")";
        font-weight: 400;
      }
    }
  }

  .body {
    // margin-left: 1em;
    margin-bottom: 4em;

    & > .returns {
      margin-left: 2.25em;

      h4, h5 {
        margin-left: -2.25em;
      }
    }

    & > .parameters, .exceptions {
      // margin-left: 1em;
    }

    & > .returns, .parameters, .exceptions {

      margin-top: 2em;

      h4, h5, h6, .h4, .h5, .h6 {
        font-weight: 600;
        color: $blue;
      }

      .param-item, .exc-item {
        margin-bottom: 0.5em;
        .name {
          font-family: $font-family-monospace;
          font-weight: 600;
          font-size: 0.9em;
          background-color: $gray-100;
          padding: 3px;
          line-height: 3;

          // &:after {
          //   content: " ";
          // }
        }

        .type {
          font-family: $font-family-monospace;
          font-size: 0.9em;

          // &:before {
          //   content: " (";
          // }

          // &:after {
          //   content: ")";
          // }
        }

        .description {
          &:before {
            content: " — ";
            margin-left: 5px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.wrapped-method-signature {
  .param-list {
    // display: table;

    .param {
      display: block;
      margin-left: 4ex;
      margin-top: 10px;
      margin-bottom: 10px;

      .annotation {
        display: inline-block;
        min-width: 6ex;
      }
    }
  }
}

// body.dark {
//   .method {

//     .returns {
//       .return_type {
//           background-color: $gray-800 !important;

//           &:after {
//             background-color: $body-bg-dark;
//           }
//       }
//     }
//   }

//   .parameters, .exceptions {
//     .param-item, .exc-item {
//       .name {
//         background-color: $gray-800 !important;
//       }
//     }
//   }
// }
