{{ $currentPage := . -}}
{{ range .Site.Home.Sections.ByWeight -}}
  {{ template "top-menu" dict "sect" . "currentpage" $currentPage}}
{{ end -}}

{{ define "top-menu" }}
{{- $currentPage := .currentpage -}}
{{ with .sect }}
  {{ if .IsSection }}
    {{ if not (in .Site.Params.menu_exclusion .Section) }}
      <h3>{{- default .Name (safeHTML .Params.menu_header) -}}</h3>

      {{- $numberOfPages := (add (len .Pages) (len .Sections)) -}}
      {{ if ne $numberOfPages 0 }}

        {{/* Add Pages and Sections to a single unified variable. */}}
        {{- .Scratch.Set "pages" .Pages -}}
        {{- if .Sections -}}
          {{- .Scratch.Set "pages" (.Pages | union .Sections) -}}
        {{- end -}}
        {{- $pages := (.Scratch.Get "pages") -}}

        <ul class="docs-menu-top-list">
        {{- range $pages.ByWeight -}}
          {{/*- $active := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
          {{- $active = or $active (eq .Name $currentPage.Title) -*/}}

          {{ template "sub-menu" dict "sect" . "currentpage" $currentPage }}
        {{- end -}}
        </ul>
      {{ end -}}
    {{- end -}}
  {{- end -}}
{{ end -}}
{{ end }}

{{ define "sub-menu" }}
{{- $currentPage := .currentpage -}}
{{ with .sect }}
  {{- $active := (eq .Name $currentPage.Title) -}}
  {{- $numberOfPages := (add (len .Pages) (len .Sections)) -}}

  {{- if and (ne $numberOfPages 0) (or ($active) ($currentPage.IsDescendant .CurrentSection)) -}}
    <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .Permalink | absURL }}">{{ .Name }}</a>
      <ul class="docs-menu-sub-list">
        {{ range .Pages }}
        {{- $active := (eq .Name $currentPage.Title) -}}
        <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .Permalink | absURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </li>
  {{- else -}}
    <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .Permalink | absURL }}">{{ .Name }}</a></li>
  {{- end -}}
{{ end -}}
{{ end }}
