{{/* $menuList := dict }}
{{ range .Site.Menus.docs }}
  {{ $menuList = merge $menuList (dict .Identifier .) }}
{{ end */}}
{{ $currentPage := . -}}

<ul class="docs-menu-top-list">
{{- with .Site.Home -}}
  {{/*- $active := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -*/}}
  {{- $active := (eq .Name $currentPage.Title) -}}
  <!-- <p>Page: {{/*.*/}}</p> -->

  <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .Permalink | absURL }}">{{ .Name }}</a></li>
{{- end -}}
</ul>

{{ range .Site.Home.Sections.ByWeight -}}
  {{ template "top-menu" dict "sect" . "currentpage" $currentPage }}
{{ end -}}

{{ define "top-menu" }}
{{- $currentPage := .currentpage -}}
{{/* - $menuList := .menulist - */}}
{{ with .sect }}
  {{ if .IsSection }}
    {{ if not (in .Site.Params.menu_exclusion .Section) }}
      <h3>{{- default .Name (safeHTML .Params.menu_header) -}}</h3>
      <!-- <p> Submenu: {{/* with (index .Site.Menus.docs 0)}}{{ . }}{{ end }}</p>
      <p>Where: {{ range where .Site.Menus.docs "Name" .Section }}{{ .Children }}{{end}}</p>
      {{ range (.Site.Menus.docs) }}
        {{ . }}
        Value: {{ index .Children 0 }}
      {{ end }} -->

      <!-- {{/* where (index .Site.Menus.docs 0) }}
        Value: {{ index .Children 0 }}
      {{ end }} -->
     <!--  {{ range $menuList }}
        <p>{{ . }}</p>
      {{ end }} -->

      {{/* $sectionId := .Section }}
      {{ $sectionChildren := slice }}
      {{ range where .Site.Menus.docs "Name" .Section }}
        <!-- <p>Children: {{/* index .Children 0 }}</p> -->
        {{ range where .Children "Parent" $sectionId }}
          <!-- <p>Sub-child: {{/* .Parent }} / {{ .Page }}</p> -->
          {{ $sectionChildren = $sectionChildren | append .Page }}
        {{ end }}
      {{ end */}}
      <!-- <p>Section children: {{/* $sectionChildren */}}</p> -->
      <!-- <p>Pages: {{/* reflect.IsSlice .Pages*/}}</p> -->

      {{/* - $numberOfPages := (add (add (len .Pages) (len .Sections)) (len $sectionChildren)) - */}}
      {{- $numberOfPages := add (len .Pages) (len .Sections) -}}
      {{ if ne $numberOfPages 0 }}

        {{/* Add Pages and Sections to a single unified variable. */}}
        {{- .Scratch.Set "pages" .Pages -}}
        <!-- {{/*- if ne (len $sectionChildren) 0 -}}
          {{- .Scratch.Set "pages" ((.Scratch.Get "pages") | union $sectionChildren) -}}
        {{- end -}}
        <p>Sections: {{ range (.Scratch.Get "pages") }}{{ . }}{{ end */}}</p> -->
        {{- if .Sections -}}
          {{- .Scratch.Set "pages" ((.Scratch.Get "pages") | union .Sections) -}}
        {{- end -}}
        {{- $pages := (.Scratch.Get "pages") -}}

        <!-- <p>Pages: {{/*$pages*/}}</p> -->

        <ul class="docs-menu-top-list">
        {{- range $pages.ByWeight -}}
          {{/*- $active := or ($currentPage.IsMenuCurrent "docs" .) ($currentPage.HasMenuCurrent "docs" .) -}}
          {{- $active = or $active (eq .Name $currentPage.Title) -*/}}
          <!-- <p>Page: {{/*.*/}}</p> -->

          {{ template "sub-menu" dict "sect" . "currentpage" $currentPage }}
        {{- end -}}
        </ul>
      {{ end -}}
    {{- end -}}
  {{- end -}}
{{ end -}}
{{ end }}

{{ define "sub-menu" }}
{{- $currentPage := .currentpage -}}
{{ with .sect }}
  {{- $active := (eq .Name $currentPage.Title) -}}
  {{- $numberOfPages := (add (len .Pages) (len .Sections)) -}}

  {{- if and (ne $numberOfPages 0) (or ($active) ($currentPage.IsDescendant .CurrentSection)) -}}
    <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .Permalink | absURL }}">{{ .Name }}</a>
      <ul class="docs-menu-sub-list">
        {{ range .Pages }}
        {{- $active := (eq .Name $currentPage.Title) -}}
        <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .Permalink | absURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </li>
  {{- else -}}
    <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .Permalink | absURL }}">{{ .Name }}</a></li>
  {{- end -}}
{{ end -}}
{{ end }}
