{{ $page_path := 0 -}}
{{ if .IsNamedParams -}}
    {{ $page_path = .Get "path" -}}
{{ else -}}
    {{ $page_path = .Get 0 -}}
{{ end -}}

{{ $rel_url := $page_path | relURL -}}
{{ $url_segments := split $page_path "#" -}}
{{ $url_path := index $url_segments 0 | strings.TrimSuffix "/" -}}
{{ $url_anchor := index $url_segments 1 -}}

{{ $page_title := "" -}}
{{ $anchor_title := "" -}}

{{ with .Site.GetPage $url_path -}}
    {{ if $url_anchor -}}
        {{ $repattern := printf "id=\"%s\".*?>(.*?(?:.*?(?:.*?<.+?>.*?(?:.*?(?:<.+?>.*?</.+?>)*.*?)*.*?</.+?>.*?)*.*?)*.*?)</" $url_anchor -}}
        {{ $anchor_segment := index (findRE $repattern .Content) 0 -}}
        {{ $anchor_title = replaceRE $repattern "$1" $anchor_segment -}}
        {{ $anchor_title = replaceRE "<.+?>|^Q: " "$1" $anchor_title -}}
    {{ end -}}

    {{ $page_title = .Title -}}
{{ end -}}

<div class="resource-link">
<span class="block-label">Resources</span>
<a href="{{ $rel_url -}}">
{{ $link_text := $page_title -}}
{{ if $anchor_title -}}
<div class="parent-page-link">{{ $page_title -}}</div>
{{ $link_text = $anchor_title -}}
{{ end -}}
<h4 class="resource-link-title">{{ $link_text -}}</h4>

<div class="resource-link-description">{{ .Inner | markdownify | safeHTML | truncate 250 -}}</div>

<span class="resource-link-read">Read article <i class="fas fa-chevron-double-right read-more-arrow"></i></span>
</a>
</div>
